body {
	width: 900px;
	margin: 0 auto;
}

.header {
	padding: 36px 0;
	margin-bottom: 45px;
}

.logo-anker {
	width: 10rem;
}

.main_header_title {
	font-size: 6.5rem;
}

.sub_header_title {
	font-size: 2.5rem;
}

.works_header {
	font-size: 4.5rem;
	padding: 45px 0 13.5px 9px;
}

.works > .work + .work {
	padding-left: 27px;
}

.work_title {
	font-size: 3.6rem;
	padding: 18px 0;
}

.work_url {
	font-size: 1.5rem;
}